
.header {
    height: 160px;
    background: #FFF;
    flex-shrink: 0;
    box-shadow: 0px 5px 20px 0px rgba(157, 157, 157, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__block1 {
    width: 563px;
    height: 29px;
    display: flex;
    padding: 0px;
    align-items: center;
    justify-content: space-between;
    font-family: 'Gilroy', monospace;
    font-weight: 500;
}

.header__block2 {
    display: flex;
    flex-direction: row;
    gap: 54px;
}
